<footer class="footer">
	<div class="container">
		<p>
			Designed and built with all the love in the world by
			<a href="http://rixtox.com" target="_blank">@RixTox</a>
			.
		</p>
		<p>
			Programmed with all the respect by
			<a href="http://shouya.github.com" target="_blank">@Shou Ya</a>
			.
		</p>
		<ul class="footer-links">
			<li>
				<a href="http://metacoder.org">Team Page</a>
			</li>
			<li class="muted">·</li>
			<li>
				<a href="https://github.com/metacoder-bgy/metaphor/issues?state=open">Issues</a>
			</li>
			<li class="muted">·</li>
			<li>
				<a href="https://github.com/metacoder-bgy/metaphor">Project Page</a>
			</li>
		</ul>
		<p>
			&copy;
			Metacoder 2013
		</p>
	</div>
</footer>